<ion-view view-title="Home" hide-back-button="true">
	<ion-content class="has-header">

	<ion-list>
		<ion-item class="item item-divider positive text-center">{{userProfile.name}}</ion-item>
		<a ui-sref="rooms" class="item item-icon-left">
			<i class="icon ion-chatboxes"></i>Chat rooms
    </a>
		<a ui-sref="users" class="item item-icon-left">
			<i class="icon ion-ios-people"></i>Users
    </a>
		<a href="#/users/{{userProfile.$id}}" class="item item-icon-left">
			<i class="icon ion-person"></i>My Account
		</a>
    <a ng-click="logoutUser()" class="item item-icon-left">
      <i class="icon ion-log-out"></i>
      Log Out
    </a>
  </ion-list>

	</ion-content>
</ion-view>
