<ion-view view-title="{{room.name}}">
  <ion-content>
    <h5 ng-if="messages.length == 0" class="text-center" style="margin-top: 20px">
      No messages in this room.
    </h5>
    <ion-list>
      <ion-item class="item-text-wrap" ng-repeat="message in messages">
        <p>
          <span style="color: #000; font-size: 14px">{{message.username}}</span>
          <span style="font-size: 13px; float: right; font-style:italic" am-time-ago="message.sentAt"></span>
        </p>
        <p style="color: #000; font-size: 15px; font-weight: 700;">{{message.content}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-footer bar-stable">
    <input class="footer-input" id="footer-text" type="text" placeholder="Message" ng-model="newMessage">
    <button class="button icon-left ion-plus-circled" ng-click="sendMessage()"></button>
  </ion-footer-bar>
</ion-view>
